@tailwind base;
@tailwind components;
@tailwind utilities;
:root { --bg:#06070A; --fg:#ffffff; }
html, body, :root { background: var(--bg); color: var(--fg); }
[data-theme='light'] { --bg:#fbfdff; --fg:#0a0b0d; }
